New folder/app/views/sidebar_mobile.pug
block Sidebar Mobile

.sidebar-container
	.sidebar-header
		.avatar.avatar--m(title="title name")
			.avatar-img(style="background-image:url(images/avatar_default.png)")
		.snippet
			.item-title
				span Laguna Loire

	.sidebar-body
		ul
			li
				a(title="") Learn more
			li
				a(title="" href="#!") Sign in
			li
				a(title="" href="#!") Sign up

New folder/dist/sidebar_mobile.html

<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="avatar avatar--m" title="title name">
      <div class="avatar-img" style="background-image:url(images/avatar_default.png)"></div>
    </div>
    <div class="snippet">
      <div class="item-title"><span>Laguna Loire</span></div>
    </div>
  </div>
  <div class="sidebar-body">
    <ul>
      <li><a title="">Learn more</a></li>
      <li><a title="" href="#!">Sign in</a></li>
      <li><a title="" href="#!">Sign up</a></li>
    </ul>
  </div>
</div>
